body{
    background-image: url("Снимок экрана 2021-11-03 в 12.57.34.png ");
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.video{
    background-color: black;
    margin: 5px;
    opacity: 0.75;
}

@media (max-width: 500px) {
    .video{
        width: 225px;
        height: 400px;
    }
}
